openapi: 3.0.0
info:
  title: Client's panel API docs Advertisers Tokens API
  version: v5
  description: 'RTB House Client Panel REST API for managing advertisers, campaigns, product offers, audiences,

    RTB creatives, conversions, and accessing performance statistics. Supports campaign management,

    billing retrieval, and detailed analytics including RTB stats, win-rate stats, top hosts, and

    deduplication stats.


    Authentication scheme types:

    | Security Scheme Type      | HTTP   |

    | ------------------------- | ------ |

    | HTTP Authorization Scheme | Basic  |

    | HTTP Authorization Scheme | Bearer |

    '
servers:
- url: https://api.panel.rtbhouse.com/v5
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Tokens
paths:
  /tokens/current/rotate:
    post:
      summary: Rotate current API token
      tags:
      - Tokens
      responses:
        '200':
          description: New API token.
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - data
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                  data:
                    type: object
                    required:
                    - token
                    - expiresAt
                    properties:
                      token:
                        type: string
                      expiresAt:
                        type: string
                        format: date-time
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
